/* Fuentes desde Google Fonts */
/* Se copia el import de la fuente que se desea */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    /* Ocultar la barra de desplazamiento */
    overflow-x: hidden;
}

/* Para que se aplique un estilo sobre un código de Bootstrap, debe ir la palabra "!important" */
#menu{
    background-color: #fff !important;
} 

.logo{
    width: 200px;
}

/* alto de la imagen */
.slideimg{
    height: 560px;
}

/* Noticias o novedades */
#noticias{
    background-color: rgb(3, 11, 72);
}

#noticias .titulo{
    width: 100%;
    color: #fff;
    text-align: center;
}

.card-title{
    text-align: center;
}

.buy{
    margin-left: 30%;
}

/* Servicios */
.services{
    width: 180px;
    height: 160px;
}