/* Fuentes desde Google Fonts */
/* Se copia el import de la fuente que se desea */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    /* Ocultar la barra de desplazamiento */
    overflow-x: hidden;
}

/* Para que se aplique un estilo sobre un código de Bootstrap, debe ir la palabra "!important" */
#menu{
    background-color: #fff !important;
} 

.logo{
    width: 200px;
}

/* alto de la imagen */
.slideimg{
    height: 560px;
}

/* Noticias o novedades */
#noticias{
    background-color: rgb(3, 11, 72);
}

#noticias .titulo{
    width: 100%;
    color: #fff;
    text-align: center;
}

.card-title{
    text-align: center;
}

.buy{
    margin-left: 30%;
}

/* Servicios */
.services{
    width: 180px;
    height: 160px;
}

/* Footer */
#page-footer .ftcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    background-color: rgb(7, 7, 7);
    padding: 70px 0;
}

.footer__cta-ftcontainer{
    max-width: 1200px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

.ftrow{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer__cta-ftcontainer .cta__txt{
    font-size: 36px;
    max-width: 50%;
    padding: 0;
}

.footer__cta-ftcontainer .cta__btn{
    margin-top: 0;
}

.footer__menu{
    max-width: 300px;
    grid-column: 1/3;
    grid-row-start: 1;
}